body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
  }
  .main_box {
    max-width: 80%;
    margin: auto;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  .information {
    display: flex;
    justify-content: space-between;
  }
  .ph_num{
    display: flex;
    gap: 10px;
    
  }
  .location{
    display: flex;
    gap: 10px;
  }
  .mail{
    display: flex;
    gap: 10px;
  }
  .linkedIn{
    display: flex;
    gap: 10px;
  }

  /* .border-1 {
    border: 2px solid red;
  }

  .border-2 {
    border: 1px solid blue;
  }
  
  .border-3 {
    border: 1px solid rebeccapurple;
  }
  
  .border-4 {
    border: 1px solid green;
  }
  
  .border-5 {
    border: 1px solid purple;
  } */
  .my_img {
    width: 200px;
    height: 200px;
    padding:10px 0px 10px 0px;
    /* padding: top right bottom left; */
  }
  @media (max-width: 400px) {
    .my_img {
      width: 150px;
      height: 150px;
      padding-top: 0px;
    }
  }
  @media (max-width: 500px){
    .main_box {
      max-width: 100%;
    }
  }
  /* @media (max-width:375) {
    .projects{
      margin-right:10px ;
    }
  } */

   a {
    text-decoration: none;
  }
  span {
    font-weight: bold;
  }
  ul{
    list-style-type: square;
  }